@charset "utf-8";
#table{
    visibility: hidden;
}

.btn{
    top:10px;
    left:10px;
    width:auto;
    height:30px;
    position:relative;
    font-size:20px;
    padding-top:0px;
    box-shadow:2px 2px 4px 2px #aaaaaa;
    background-color:#ffffff;
}

#finishText{
    visibility: hidden;
}

#resultBtn{
    font-size:25px;
    height:40px;
    display:none;
}

td{
    text-align:center;
}

/* スマホ用のcss */
@media screen and (max-width:480px){

.btn{
top:10px;
left:20px;
width:auto;
height:37px;
position:relative;
font-size:20px;
padding-top:-20px;
box-shadow:2px 2px 4px 2px #aaaaaa;
background-color:#ffffff;
}

#resultBtn{
    font-size:25px;
    height:42px;
}

}
