@charset "utf-8";

h2{
font-family:sans-serif;
}

#table{
    display:none;
    width:60vw;
    margin:0 auto;
}

#image{
    display:block;
    width:90vw;
}

#image2{
    display: none;
    width:90vw;
}

.btn{
    width:auto;
    height:30px;
    position:relative;
    font-size:20px;
    padding-top:0px;
    box-shadow:2px 2px 4px 2px #aaaaaa;
    background-color:#ffffff;
    color:black;
    margin:10px;
    font-family:sans-serif;
}

#finishText{
    display: none;
}

#resultBtn{
    font-size:25px;
    height:40px;
    display:none;
}

#message{
display: none;
}

#q-num{
    padding-left: 5%;
    font-size:22px;
    font-family:sans-serif;
}

th{
    font-family:sans-serif; 
    width: 1%;
}

td{
    text-align:center;
    font-family:sans-serif;
}

/* スマホ用のcss */
@media screen and (max-width:480px){

.center{
    text-align: center;
}

table{
    width:fit-content;
    margin:0%;
}
    
th,td{
padding:2px 10px 2px 10px;
}
    
img{
width:95vw;
margin:auto;
}    
    
.center{
text-align:center;
width:100vw;
}
    
.btn{
top:10px;
width:auto;
height:37px;
position:relative;
font-size:20px;
padding-top:-20px;
box-shadow:2px 2px 4px 2px #aaaaaa;
background-color:#ffffff;
margin:5px;
}

#resultBtn{
    font-size:25px;
    height:42px;
}

}
