@charset "utf-8";
#table{
    visibility: hidden;
}

.btn{
    width:auto;
    height:30px;
    position:relative;
    font-size:20px;
    padding-top:0px;
    box-shadow:2px 2px 4px 2px #aaaaaa;
    background-color:#ffffff;
    color:black;
    margin:10px;
}

#finishText{
    display: none;
}

#resultBtn{
    font-size:25px;
    height:40px;
    display:none;
}

td{
    text-align:center;
}

/* スマホ用のcss */
@media screen and (max-width:480px){

#q-num{
    padding-left:5%;
    font-size:22px;
    color:black;
}

table{
width:60vw;
margin:0 auto;
}
    
img{
width:95vw;
display:block;
margin:auto;
}    

.center{
text-align:center;
width:100vw;
}
    
.btn{
top:10px;
width:auto;
height:37px;
position:relative;
font-size:20px;
padding-top:-20px;
box-shadow:2px 2px 4px 2px #aaaaaa;
background-color:#ffffff;
margin:5px;
}

#resultBtn{
    font-size:25px;
    height:42px;
}

}
